APP_NAME=PicPay Simplificado
ENVIRONMENT=development
DATABASE_URL=postgresql+psycopg://picpay:picpay@postgres:5432/picpay
AUTHORIZATION_URL=https://util.devi.tools/api/v2/authorize
NOTIFICATION_URL=https://util.devi.tools/api/v1/notify
HTTP_TIMEOUT_SECONDS=5
LOG_LEVEL=INFO
